---

import AdviceCard from "../components/AdviceCard";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap" rel="stylesheet">
		<title>Frontend Mentor | Advice generator app</title>
    <style>
      .attribution { font-size: 11px; text-align: center; margin-top: 2rem; }
      .attribution a { color: white; text-decoration: underline; }
    </style>
	</head>
	<body class='bg-darkBlue text-white flex flex-col h-screen justify-center items-center'>
		<AdviceCard client:load />
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="https://www.frontendmentor.io/profile/vyonizr" target="_blank">vyonizr</a>.
    </div>
	</body>
</html>
